# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Databases
#*.db
#server/database/*.db

# Logs
*.log
