<!-- Panel 4: Bandwidth -->
<div class="dashboard-panel">
    <span class="corner corner-tl"></span><span class="corner corner-tr"></span><span class="corner corner-bl"></span><span class="corner corner-br"></span>
    <div class="panel-title">Bandwidth</div>
    <div class="row align-items-center">
        <div class="col-7">
            <div class="panel-metric" id="bandwidth-metric">4.5TB</div>
            <ul class="sub-metrics" id="bandwidth-sub-metrics">
                <li><i class="fas fa-arrow-up metric-increase"></i>5.3% more than last week</li>
                <li><i class="fas fa-chart-bar"></i>10.5% from total usage</li>
                <li><i class="fas fa-arrow-up"></i>2MB per visit</li>
            </ul>
        </div>
        <div class="col-5">
            <div class="chart-container">
                <canvas id="bandwidthChart" width="120" height="80"></canvas>
            </div>
        </div>
    </div>
</div>
