<!-- Panel 3: New Members -->
<div class="dashboard-panel">
    <span class="corner corner-tl"></span><span class="corner corner-tr"></span><span class="corner corner-bl"></span><span class="corner corner-br"></span>
    <div class="panel-title">New Members</div>
    <div class="row align-items-center">
        <div class="col-7">
            <div class="panel-metric" id="members-metric">4,490</div>
            <ul class="sub-metrics" id="members-sub-metrics">
                <li><i class="fas fa-arrow-up metric-increase"></i>59.5% more than last week</li>
                <li><i class="fab fa-facebook-f"></i>45.5% from facebook</li>
                <li><i class="fab fa-youtube"></i>15.25% from youtube</li>
            </ul>
        </div>
        <div class="col-5">
            <div class="chart-container">
                <canvas id="newMembersChart" width="120" height="80"></canvas>
            </div>
        </div>
    </div>
</div>
