<!-- Panel 1: Site Visitors -->
<div class="dashboard-panel">
    <span class="corner corner-tl"></span><span class="corner corner-tr"></span><span class="corner corner-bl"></span><span class="corner corner-br"></span>
    <div class="panel-title">Site Visitors</div>
    <div class="row align-items-center">
        <div class="col-7">
            <div class="panel-metric" id="visitors-metric">4.2m</div>
            <ul class="sub-metrics" id="visitors-sub-metrics">
                <li><i class="fas fa-arrow-up metric-increase"></i>33.3% more than last week</li>
                <li><i class="fas fa-user-friends"></i>45.5% new visitors</li>
                <li><i class="fas fa-times-circle"></i>3.25% bounce rate</li>
            </ul>
        </div>
        <div class="col-5">
            <div class="chart-container">
                <canvas id="siteVisitorsChart" width="120" height="80"></canvas>
            </div>
        </div>
    </div>
</div>
